{% extends 'base_profile.html' %} {% load static %} {% block meta_code %}
<title>تجوال السياحي | تسجيل الدخول</title>
<meta name="description" content="تسجيل الدخول لتجوال السياحي"> {% endblock %} {% block content%}
<div class="box-form">
    <div class="right">
        <ul class="nav nav-pills " id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link  active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true"> تسجيل الدخول
                        </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link " id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">تسجيل جديد </a>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <form action="" method="POST" novalidate class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                <div class="inputs">
                    {% csrf_token %} {{form}}
                    <a href="#">هل نسيت كلمه المرور الخاصه بك</a>
                </div>
                <br>
                <div class="register">
                    <button class="custom_button">تسجيل الدخول</button>
                </div>
                <br><br>
                <p>أو سجل من خلال</p>

                <div class="another_register">
                    <a href="#"><img src="{% static 'image/google_PNG.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'image/Facebook-Logo.wine_.svg' %}" alt=""></a>
                </div>
            </form>
            <form action="" method="POST" novalidate class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
                <div class="another_register">
                    <a href="#"><img src="{% static 'image/google_PNG.svg' %}" alt=""></a>
                    <a href="#"><img src="{% static 'image/Facebook-Logo.wine_.svg' %}" alt=""></a>
                </div>
                <br>
                <div class="inputs">
                    <div class="names">
                        <div>
                            <h6>الاسم الأول</h6>
                            <input type="text" placeholder="أدخل اسمك الأول ">
                        </div>
                        <div>
                            <h6 class="">اسم العائله</h6>
                            <input type="text" placeholder="أدخل اسمك الأخير ">
                        </div>
                    </div>
                    <div class="names">
                        <div>
                            <h6>اسم المستخدم</h6>
                            <input type="text" placeholder="أدخل اسم المستخدم ">
                        </div>
                        <div>
                            <h6 class="">تاريخ الميلاد</h6>
                            <input type="text" placeholder="تاريخ الميلاد" onfocus="(this.type='date')">
                        </div>
                    </div>
                    <h6>البريد الإلكتروني</h6>
                    <input type="text" placeholder="ادخل الإيميل الخاص بك ">
                    <br>
                    <h6 class="">كلمه المرور</h6>
                    <input type="password" placeholder="أدخل كلمه السر">
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="accepted">
                    <label for="accepted"> الموافقه على <a href="#">الشروط والأحكام</a> الخاصه بنا</label>
                </div>
                <div class="checkbox">
                    <input type="checkbox" id="notifications">
                    <label for="notifications">استقبل الإشعارات و العروض من خلال البريد الإلكتروني</label>
                </div>
                <br>
                <div class="register">
                    <button class="custom_button">تسجيل جديد</button>
                </div>
            </form>
        </div>
        <br>
    </div>
    <div class="left" style="background-image: url({% static 'image/Login_image.jpeg' %});">
    </div>
</div>
{% endblock %}