{% extends "base_accounts.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<section class="section-login">
  <div class="container">
      <div class="row">
          <div class="right-box col-lg-6 col-md-12">
            <p>لقد أرسلنا إليك عبر البريد الإلكتروني تعليمات حول تعيين كلمة المرور الخاصة بك. إذا لم يصلوا خلال بضع دقائق ، فتحقق من مجلد الرسائل غير المرغوب فيها.</p>
          </div>
          <div class="left-box col-lg-6 col-md-12">
              <img src="{% static 'image/sigin.png' %}" alt="sign-in">
          </div>
      </div>
  </div>
</section>
 
{% endblock %}